body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #2a2a2a);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    text-align:center;
    width:320px;
}

h1{
    color:#d63384;
    margin-bottom:10px;
}

h2{
    font-weight:500;
    margin-bottom:15px;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
    font-family:'Poppins', sans-serif;
}

select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:8px;
}

button:hover{
    background:#b82c6f;
}

.card{
    background:white;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    text-align:left;
}
.categorias{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-top:10px;
}
#conteudo img{
width:100%;
margin-top:10px;
border-radius:10px;
}
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes button {
    margin: 10px;
    padding: 10px 20px;
}

#btnAvaliacoes {
    margin-top: 20px;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 6px;
}
